<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="x100_with_rohand_lites">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import x100_with_rohand_lites urdf file -->
    <xacro:include filename="$(find x100_description)/urdf/x100_with_rohand_lites.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="x100_with_rohand_lites.ros2_control.xacro" />


    <xacro:x100_with_rohand_lites_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
